.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 140px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo {
    margin-bottom: 35px;
}

.title {
    text-align: center;
    margin-bottom: 60px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-size: 40px;
    color: #151618;
}

/* ---- MENU ---- */

.menu__list {
    display: flex;
    align-items: center;
    gap: 0 65px;
    font-weight: 400;
    font-size: 18px;
    margin-left: 85px;
    position: relative;
    z-index: 3;
}

.menu__btn {
    display: none;
    width: 40px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.menu__btn span {
    background-color: #000;
    height: 2px;
    width: 100%;
}

.menu--close {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    transition: background-color 5s ease;
}

.menu--close.menu--open{
    display: block;
}

.mobile-nav, .menu__close {
    display: none;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.user-actions__item-search {
    margin-left: 80px;
}

