/* ---- mailing-list ---- */

.mailing-list{
    padding: 100px 0;
    background-color: #F7F2EA;
    background-image: url(../images/tea-fon.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.mailing-list___title {
    text-align: left;
    margin-bottom: 50px;
}

.mailing-list__inner{
    display: flex;
    gap: 60px 40px;
}

.mailing-list__text{
    line-height: 1.5;
    flex-basis: 580px;
}

.mailing-list__form{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 580px;
}

.mailing-list__email{
    border: none;
    border-bottom: 1px solid #B8B58B;
    background-color: transparent;
    padding: 3px 15px;
    width: 438px;
    margin-right: 25px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #151618;
}

.mailing-list__email::placeholder{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #b8b58b;
}

.mailing-list__btn{
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    border: 1px solid #151618;
    padding: 12px 41px;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
}

.mailing-list___label{
    margin-top: 16px;
}

.checkbox__text{
    font-size: 13px;
    padding-left: 20px;
}

.checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    padding-left: 20px;
}

.checkbox-style{
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid #151618;
    margin-top: 5px;
}

.checkbox:checked + .checkbox-style::before {
    content: " ";
    position: absolute;
    width: 8px;
    height: 6px;
    background-color: #151618;
    top: 1px;
    left: 1px;
}