/* ---- main-blog ---- */
.main-blog {
    padding: 150px 0;
}

.main-blog__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 58px;
}

.main-blog__item {
    flex-basis: 542px;
    display: flex;
    gap: 0 20px;
}

.main-blog__item-content{
    display: flex;
    flex-direction: column;
}

.main-blog__item-title{
    font-family: "Cormorant Garamond", serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
    min-height: 86px;
}

.main-blog__item-author{
    font-size: 13px;
}

.main-blog__item-link{
    font-size: 13px;
    margin-top: auto;
    position: relative;
}

.main-blog__item-link::after{
    content: "";
    background-image: url(../images/blog-img/arrow.svg);
    width: 5px;
    height: 10px;
    margin-left: 8px;
    position: absolute;
    bottom: 3px;
}

.main-blog__link{
    padding: 12px 41px;
    display: flex;
    justify-content: center;
    margin: 72px auto 0;
    width: 152px;
    border: 1px solid #151618;
}